<section class="main">
    <div class="main__frame">
        <div class="main__content">
        	<span class="main__content-caption">
        		<h2 class="main__heroName">{{hero?.name}}</h2>
            <p class="main__description">{{hero?.description === "" ? 'This character has no description' : hero?.description}}</p>
        	</span>
            <img class="main__image" src="{{hero?.thumbnail?.path}}.{{hero?.thumbnail?.extension}}" alt="{{hero?.name}}-image">
        </div>
    </div>
</section>
